# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

code/bin/coff2flat
code/bin/coff2noff
code/bin/disassemble
code/filesys/Makefile.depends
code/filesys/nachos
code/filesys/swtch.s
code/network/Makefile.depends
3code/network/nachos
code/network/swtch.s
code/test/filetest
code/test/halt
code/test/matmult
code/test/shell
code/test/sort
code/test/tiny shell
code/test/*.coff
code/test/lib/
code/test/mips-dec-ultrix42/*
code/threads/Makefile.depends
code/threads/nachos
code/threads/swtch.s
code/userprog/Makefile.depends
code/userprog/nachos
code/userprog/swtch.s
code/vmem/Makefile.depends
code/vmem/nachos
code/vmem/swtch.s
